<h1>PokeBay</h1>

<a class="btn btn-primary" href="/profile">Profile</a>
<a class="btn btn-primary" href="/auction/new">New Auction</a>

<div>
  <h3>All Auctions</h3>
	<table id='auction_table'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Image</th>
				<th>Bids</th>
				<th>BID!!</th>
			</tr>
		</thead>
	{{#each auctions}}
      <tr style='background-color: {{this.color}}'>
        <th><a href='/auction/{{this.auction_id}}'>{{this.name}}</a></th>
        <th>{{this.type}}</th>
        <th><img style='width: 100px; height: auto' src='{{this.picture}}' /></th>
        <th>${{this.bid}} ({{this.bidText}})</th>
        <th>
          {{#if this.input}}
            <form method='POST' action='/auction/bid/{{this.auction_id}}'>
              <input name='bid_amount' type='number' placeholder='bid amount' />
              <input name='submit_bid' type='submit' value='BID!!' class='btn btn-default' />
            </form>
          {{else}}
            {{this.status}} ({{this.statusText}})
          {{/if}}
        </th>
      </tr>
  {{/each}}
	<table>
</div>
