<h1>Profile </h>
  <a class="btn btn-primary" href="/enterpassword">Edit Profile</a>
  <h3> Username {{user.username}}
  <h3> Email {{user.email}}
  <h3> Phone {{user.phone}}
  <h3> Street {{user.street}}
  <h3> City {{user.city}}
  <h3> State {{user.state}}
  <h3> Country {{user.country}}
  <h3> Zipcode {{user.postal}} <br>
  <a class="btn btn-primary" href="/dashboard">Dashboard</a>
