<div class='container-profile'>
  <h3>View or Update Profile</h3>

  {{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
  {{/if}}

    <form action='/profile' method='POST'>

      <div class='form-group'>
        <label for='username'>username</label>
        <input class='form-control' name='username' type='text' value='{{user.username}}' />
      </div>
      <div class='form-group'>
        <label for='password'>password</label>
        <input class='form-control' name='password' type='password' value='{{user.password}}' />
      </div>
      <div class='form-group'>
        <label for='street_address'>street_address</label>
        <input class='form-control' name='street_address' type='text' value='{{user.street_address}}' />
      </div>
      <div class='form-group'>
        <label for='city'>city</label>
        <input class='form-control' name='city' type='text' value='{{user.city}}' />
      </div>
      <div class='form-group'>
        <label for='state'>state</label>
        <input class='form-control' name='state' type='text' value='{{user.state}}' />
      </div>
      <div class='form-group'>
        <label for='zipcode'>zipcode</label>
        <input class='form-control' name='zipcode' type='number' value='{{user.zipcode}}' />
      </div>
      <div class='form-group'>
        <label for='email'>email</label>
        <input class='form-control' name='email' type='text' value='{{user.email}}' />
      </div>
      <div class='form-group'>
        <label for='phone'>phone</label>
        <input class='form-control' name='phone' type='number' value='{{user.phone}}' />
      </div>

      <label for='passwordSubmit'>please enter your current password to submit changes</label>
      <input class='form-control' placeholder='passwordSubmit' name='passwordSubmit' type='password' value='' />
      <button class='btn btn-primary' >submit</button>
    </form>
</div>
