<h1>{{title}}</h1>
<p>Welcome {{firstName}}!</p>
<a class="btn btn-danger" href="/update">Edit Profile</a>

<div>
<h4 />Profile:
<p />Username: {{username}}
<p />First Name: {{firstName}}
<p />Last Name: {{lastName}}
<p />Email: {{email}}
<p />Phone: {{phone}}
<p />Address: {{street}}, {{city}}, {{state}}, {{postal}}, {{country}}
</div>
