<h1>you made it!!</h1>
<ul>
  <li>{{pokemon.pokemon_id}}</li>
  <li>{{pokemon.pokemon_name}}</li>
  <li>{{pokemon.pokemon_type}}</li>
  <img src="{{pokemon.image_url}}">
  <li>{{pokemon.starting_bid}}</li>
  <li>{{pokemon.reserve}}</li>
  <li>{{pokemon.shipping_location}}</li>
  <li>{{pokemon.auction_length}}</li>
  <li>{{pokemon.description}}</li>



</ul>
